@mixin range-item-styles($text-color, $bar-color, $bar-active-color){
	.range-item
	{
		padding: 15px;
		border: none !important;
		@include element-shadow();

		.item-inner
		{
			padding: 0px;
			border: none;
		}

		ion-label {
			flex: 1;
			width: 100%;
			@include display(flex);
			@include justify-content(space-between);
			margin: 0px;

			.range-value
			{
				font-size: 1.2rem;
				font-weight: 600;
				letter-spacing: 0.2px;
				color: $text-color;
				flex: 1 0 12%;
				max-width: 100%;
				margin: 0px;

				&:first-child
				{
					text-align: left;
				}

				&:last-child
				{
					text-align: right;
				}
			}

			.range-label
			{
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: 0.2px;
				text-align: center;
				color: $text-color;
				flex: 0 1 76%;
				max-width: 76%;
				margin: 0px;

				&:first-child
				{
					text-align: left;
				}
			}
		}

		ion-range {
			padding: 12px 12px 0px;

			.range-tick
			{
				display: none;
			}

			.range-bar
			{
				background: $bar-color;
				height: 2px;
			}

			.range-bar-active
			{
				background: $bar-active-color;
			}
		}
	}
}

@mixin range-item-md-styles($knob-color){
	ion-range {
		.range-knob
		{
			background: $knob-color;
		}
	}
}

@mixin range-item-wp-styles($knob-color){
	ion-range {
		.range-knob
		{
			background: $knob-color;
		}
	}
}
