.show-hide-password
{
	display: block;
	position: relative;

	.item
	{
		.item-inner
		{
			padding-right: 6rem;
		}
	}


	.type-toggle
	{
		position: absolute;
	  right: 0px;
	  top: 0px;
		height: 4.4rem;
		width: 6rem;
		text-align: center;
		padding: 0px;

		.show-option,
		.hide-option
		{
			height: 4.4rem;
  		line-height: 4.4rem;
			font-size: 2.4rem;

			&:not(ion-icon)
			{
				text-transform: uppercase;
				font-size: 1.2rem;
			}
		}
	}
}
