ion-col {
  &[width-100] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  &[width-72] {
    flex: 0 0 72%;
    max-width: 72%;
  }

  &[width-70] {
    flex: 0 0 70%;
    max-width: 70%;
  }

  &[width-65] {
    flex: 0 0 65%;
    max-width: 65%;
  }

  &[width-64] {
    flex: 0 0 64%;
    max-width: 64%;
  }

  &[width-60] {
    flex: 0 0 60%;
    max-width: 60%;
  }

  &[width-57] {
    flex: 0 0 57%;
    max-width: 57%;
  }

  &[width-45] {
    flex: 0 0 45%;
    max-width: 45%;
  }

  &[width-40] {
    flex: 0 0 40%;
    max-width: 40%;
  }

  &[width-35] {
    flex: 0 0 35%;
    max-width: 35%;
  }

  &[width-30] {
    flex: 0 0 30%;
    max-width: 30%;
  }

  &[width-28] {
    flex: 0 0 28%;
    max-width: 28%;
  }

  &[width-18] {
    flex: 0 0 18%;
    max-width: 18%;
  }

  &[width-15] {
    flex: 0 0 15%;
    max-width: 15%;
  }
}
