counter-input {
  &[basic]
  {
    .counter-inner
    {
      display: none;
    }

    .counter-icon
    {
      &:first-child
      {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-right: none !important;
      }

      &:last-child
      {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }
    }
  }

  .counter-icon
  {
    box-shadow: none;
  }
}
